
:root {
    --main:#ff4d4d;
}
html {
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}

* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Work Sans", "Segoe UI", sans-serif ;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url("../images/back.jpg");
    background-size: cover;
    background-attachment: fixed;
}
ul {
    list-style: none;
    min-width: 250px;
    display: flex;
}
ul a {
    text-decoration: none;
    padding: 25px;
}
ul a:hover {
    color: #9e9b9b;
}
.delem {
    width: 100%;
    height: 1px;
    box-shadow: 1px 2px 0 0 #fff;
    margin: 100px 0;
}
.special-heading {
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    font-family: monospace;
    font-weight: 200;
    margin: 20px 0;
}
.icon {
    width: 40px;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    color: whitesmoke;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .bar-links {
        display: none;
    }
    .portfolio .container .port-content .port {
        flex-direction: column;
        max-width: 400px;
    }
@media (max-width: 990px){
    .about .about-content {
        text-align: center;
        flex-direction: column;
    }
}
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    .links {
        display: none;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    .links {
        display: none;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
    .links {
        display: none;
    }
}
.header {
    width: 100%;
    min-height: 3.3rem;
    padding: 15px;
    background-image: url("../images/50.avif");
    box-shadow: 0 1px 0 0 #ffffff1a;;
    background-color: #16171bcc;
    background-position: 0 0;
    background-size: 200px;
    backdrop-filter: blur(40px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.header .container .logo {
    font-size: 20px;
    font-weight: 600;

}
.header .logo a {
    text-decoration: none;
     color: #e8e8e8;
}
.header .container .logo .blu {
    color: var(--main);
}
.header .container .bar-links a {
    color: #9e9b9b;
}
.header .container .links {
    position: relative;
     transition: .5s;
}
.header .container .links ul {
    background-color: rgb(225, 225, 225);
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .container .links .icon {
    color: #c5c4c4;
    font-size: 18px;
    cursor: pointer;
}
.header .container .links ul::before {
    content: "";
    border-color: transparent transparent rgb(239, 239, 239) transparent ;
    border-width: 10px;
    border-style: solid;
    position: absolute;
    top: -20px;
    right: 5px;
}
.header .container .links:hover ul {
    display: block;
}
.header .container .links ul a {
    display: block;
    transition: .3s;
    color: #484848;
}
.header .container .links ul a:hover {
    padding-left: 30px ;
}
.header .container .links ul li:not(:last-child) a {
    border-bottom: 1px #cbcbcb solid;
}
 /* landing page */

.landing {
    height: calc(60vh - 60px);
    width: 100%;
    color: #cbcbcb;
}
.landing .intro-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landing .intro-text h2 {
    font-size: 2.5rem;
    color: var(--main);
}
.landing .intro-text p {
    color: #d2d2d0;
    padding: 15px 10px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    width: fit-content;
}

/* start features */
.features .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    grid-auto-flow: dense;
}
.features .container .feat {
    margin: 0 20px;
    padding: 30px;
    background-color: #16171bcc;
    border-radius: 14px;
    color: #9e9b9b;
    line-height: 1.6;
    text-align: center;
}
.features .container .feat .icon-red {
    background-color: #ff4d4d;
}
.features .container .feat .icon-grey {
    background-color: #9e9b9b4b;
}
.features .container .feat .icon-blue {
    background-color: #0d6efd;
}
.features .container .feat h3 {
    margin: 20px 0;
}
.features .container .feat p {
    color: #6f6a6a;
}
/* Start Services*/
.services {
    padding: 20px 0;
}
.services .container {
    width: 100%;
}
.services .srv-content {
    margin: 0 auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    gap: 1rem;
}
.services .srv-content .srv {
    margin: 20px;
    background-color: #b7b7b7ab;
    color: #1c1c1c;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    padding: 20px;
}
.services .srv-content .srv .icon{
   background-color: #0d6efd;
   align-self: first baseline;
}
.services .srv-content .srv .text {
    padding-left: 14px;
    line-height: 1.4;
}
/* start portfolio*/
.portfolio .container .port-content {
    width: 100%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 450px));
    gap: 2rem;
    justify-content: center;
    grid-auto-flow: dense;
}
.portfolio .container .port-content .port {
    color: #9e9b9b;
    margin: 0 20px;
    line-height: 1.6;
    cursor: pointer;
    background-color: #16171bcc;
    border-radius: 16px ;
    overflow: hidden;
}
.portfolio .container .port-content .text h3{
    margin: 0 20px;
}
.portfolio .container .port-content .text p {
    padding: 10px 20px;
    max-width: 1000px;
}
.portfolio .container .port-content img {
    width: 100%;
    object-fit: cover;
}
/*start about*/
.about {
    padding: 40px 0;
}
.about .container h2 {
    margin-bottom: 50px;
}
.about .about-content{
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    overflow: hidden;
    color: #b7b5b5;
    border-radius: 15px;
}
.about .about-content .img {
    max-width: 100%;
    max-height: 100%;
}
.about .about-content .img img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.about .about-content .text p {
    max-width: 400px;
    font-weight: 600;
    line-height: 2;
    padding: 30px;
    text-align: center;
}
 /* start contact*/
.contact .container {
    width: 100%;
    color: #9e9b9b;
    text-align: center;
}
.contact .container .text {
    height: 150px;
    padding: 30px 0;
 }

 .contact .container .text {
    line-height: 1.8;
 }
 .contact .container .text p {
    font-size: 20px;
 }
 .contact .container .text i {
    cursor: pointer;
    padding: 0 15px;
 }
 .contact .container .text i:first-of-type {
    color: #3c67a7;
 }
 .contact .container .text i:last-of-type {
    color: #9d5f5c;
 }
 .contact .container span {
    font-weight: 600;
 }
 .contact .container p:last-child {
    padding: 10px 0;
 }